<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_CONSOLE" value="${LOG_CONSOLE:-true}" />
    <property name="LOG_FILE" value="${LOG_FILE:-true}" />
    <property name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}" />
    <if condition='property("LOG_CONSOLE").contains("true")'>
        <then>
            <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%X{requestId}] %logger{20} - %msg%n</pattern>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="CONSOLE" class="ch.qos.logback.core.helpers.NOPAppender" />
        </else>
    </if>
    <if condition='property("LOG_FILE").contains("true")'>
        <then>
            <appender name="SERVER_FILE" class="ch.qos.logback.core.FileAppender">
                <file>logs/server.log</file>
                <append>true</append>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{requestId}] %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>

            <appender name="SERVER_ERROR_FILE" class="ch.qos.logback.core.FileAppender">
                <file>logs/server_error.log</file>
                <append>true</append>
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>ERROR</level>
                    <onMatch>ACCEPT</onMatch>
                    <onMismatch>DENY</onMismatch>
                </filter>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{requestId}] %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
            <appender name="CLIENT_FILE" class="ch.qos.logback.core.FileAppender">
                <file>logs/client.log</file>
                <append>true</append>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{requestId}] %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>

            <appender name="CLIENT_ERROR_FILE" class="ch.qos.logback.core.FileAppender">
                <file>logs/client_error.log</file>
                <append>true</append>
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>ERROR</level>
                    <onMatch>ACCEPT</onMatch>
                    <onMismatch>DENY</onMismatch>
                </filter>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{requestId}] %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="SERVER_FILE" class="ch.qos.logback.core.helpers.NOPAppender" />
            <appender name="SERVER_ERROR_FILE" class="ch.qos.logback.core.helpers.NOPAppender" />
            <appender name="CLIENT_FILE" class="ch.qos.logback.core.helpers.NOPAppender" />
            <appender name="CLIENT_ERROR_FILE" class="ch.qos.logback.core.helpers.NOPAppender" />
        </else>
    </if>
    <logger name="server" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SERVER_FILE" />
        <appender-ref ref="SERVER_ERROR_FILE" />
    </logger>
    <logger name="client" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="CLIENT_FILE" />
        <appender-ref ref="CLIENT_ERROR_FILE" />
    </logger>
    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SERVER_FILE" />
        <appender-ref ref="SERVER_ERROR_FILE" />
    </root>
</configuration>